a[href="/i/verified-choose"] {    display: none;}
a[href="/i/verified-get-verified"] {    display: none;}
aside[aria-label="Subscribe to Premium"] {    display: none;}
a[href="/i/premium_sign_up"] {    display: none;}
a[href="/settings/monetization"] {    display: none;}
a[href="/settings/manage_subscriptions"] {    display: none;}
